<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>

<style>
h1 {
  margin-top: 0;
  margin-bottom: 5px;
}
</style>

<% if @document.expired_at.to_i != 0 %>
<button class="ui red basic right floated button" onclick="alert('in development');">
  <i class="ui remove icon"></i>
  Delete now
</button>
<% end %>

<h1 class=""><%= print_document_title(@document) %></h1>
<p><%= print_expired_at(@document) %></p>
<br>

<div name="" id="readonly_editor"><%= @document.content_decrypted %></div>

<div class="divider divider60"></div>

<script type="text/javascript">
// Init editor
var editor = ace.edit("readonly_editor");
editor.session.setOption("useWorker", false);
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/<%= load_syntax(@document) %>");
editor.setOptions({
    maxLines: 1500,
    minLines: 20
});
editor.setReadOnly(true);
</script>
