<footer class="centered">
  PikaBin by <a href="mailto:dangtunglam14@gmail.com">LamDT</a>
  <br>
  <a href="https://github.com/tunglam14/pikabin" target="_blank" style="color: #000">
    <i class="icon large github alternate"></i>
  </a>
</footer>
